template(name='contestTitle')
  div(class='col-xs-24')
    div(class='row')
      h1(id='contest-title' class='col-xs-16') #{contestName}
      h3(id='contest-date' class='col-xs-8') Contest Starts this {{momentify startsAt}}
    div(class='row')
      h4(id='contest-information') Entries: #{entryCount} / #{entrySize}   Entry Fee: $#{entryFee}   Prize: $#{prizes} #{prizeFormat}

template(name='contestFixtureContainer')
  div(class='col-xs-24')
    div(class='row event-filters size-13 pointer')
      each fixture.events
        div(class='col-xs-2 event-filter-tab')
          div(class='event-filter') #{away} @ #{home} {{momentify startsAt 'shortTime'}}

template(name='contestLineupContainer')
  div(class='contestLineupContainer col-xs-24')
    div(class='row')
      div(class='col-xs-13')
        h2 Available Players
        div(class='row position-filters size-13 pointer')
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') All
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') QB
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') RB
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') WR
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') TE
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') K
          div(class='col-xs-2 position-filter-tab')
            div(class='position-filter vAlign') D
          div(class='col-xs-6 col-xs-push-4 position-filter-tab')
            div(class='position-filter vAlign') Player search...
        div(class='row player-list-table-header size-12')
          div(class='col-xs-8 player-list-table-title vAlign') Name
          div(class='col-xs-3 player-list-table-title vAlign') FPPG
          div(class='col-xs-3 player-list-table-title vAlign') Played
          div(class='col-xs-5 player-list-table-title vAlign') Game
          div(class='col-xs-2 player-list-table-title vAlign') Salary
          div(class='col-xs-2 player-list-table-title vAlign')
        div(id='player-list-table-container' class='row')
          div(id='player-list-table' class='col-xs-24')
            each availablePlayers
              div(class='row player-list-item size-13 {{#if inCurrentLineup}}selected-player{{/if}}')
                div(class='col-xs-2 player-position vAlign') #{position}
                div(class='col-xs-6 player-name vAlign') #{full_name}
                div(class='col-xs-3 player-fppg vAlign') 12.3
                div(class='col-xs-3 player-played vAlign') 13
                div(class='col-xs-5 player-fixture vAlign') CIN @ PIT
                div(class='col-xs-2 player-salary vAlign') $4,500
                if inCurrentLineup
                  div(class='col-xs-2 col-xs-push-1 lineup-player-remove vAlign')
                    i(class="fa fa-minus-circle fa-2x pointer")
                else
                  div(class='col-xs-2 col-xs-push-1 lineup-player-add vAlign')
                    i(class="fa fa-plus-circle fa-2x pointer")
      div(class='col-xs-10 col-xs-push-1')
        div(class='row')
          div(class='col-xs-10')
            h2 Your Lineup
          div(class='col-xs-2')
          div(class='col-xs-6')
            h2 $#{salaryRemaining}
          div(class='col-xs-6')
            h2 $#{salaryRemainingAvg}
        div(class='row lineup-table')
          div(class='col-xs-24')
            each currentLineup
              if espn_id
                div(class='row lineup-player-selection size-13')
                  div(class='col-xs-4 lineup-player-image vAlign')
                    img(class='player-photo' src= "{{ playerImageESPN espn_id = espn_id espn_size = 'micro'}}")
                  div(class='col-xs-2 lineup-player-position vAlign') #{position}
                  div(class='col-xs-8 lineup-player-name vAlign') #{full_name}
                  div(class='col-xs-2 lineup-player-salary vAlign') $4,500
                  div(class='col-xs-2 col-xs-push-2 lineup-player-remove vAlign')
                    i(class="fa fa-minus-circle fa-2x pointer")
              else
                div(class='row lineup-player-selection player-empty size-13')
                  div(class='col-xs-4 lineup-player-image vAlign')
                    img(class='player-photo-anonymous' src='/images/anonymous_player.png')
                  div(class='col-xs-12 lineup-player-position vAlign')
                    span #{this}
                    span(class='lineup-empty-name col-xs-push-1') ADD PLAYER
            div(class='row lineup-clear-all size-12')
              div(class='col-xs-6 col-xs-push-18 pointer vAlign')
                i(class="fa fa-minus-circle size-13")
                span Clear All
            div(class='row lineup-player-enter')
              div(class='col-xs-6 col-xs-push-18')
                div(class='btn btn-default btn-lg contest-entry') Enter

template(name='lineupCard')
  div(class='row')
    div(class='col-xs-12')
