template(name='contestCreate')
  div(class='col-xs-24')
    div(class='row') Sport
      div(class='form-section')
        div(class='col-xs-3') NFL
        div(class='col-xs-3') CFB
        div(class='col-xs-3') CBB
        div(class='col-xs-3') NBA
        div(class='col-xs-3') NHL
    div(class='row') Date
      div(class='form-section')
        select(id='contest-fixture-select')
          +each fixtures
            option(value='#{_id}') {{momentify startsAt "longDateTime"}}
        +each fixtures
          div(class='contest-fixtures expandable #{fixtureSelected}')
            h3
              a Includes #{ fixturesEventCount } #{ sport } Games
            +each fixturesEvents
              ul
                li {{momentify startsAt}} #{away} @ #{home}

    //- div(class='row')
    //-   div(class='col-xs-8')
    //-     h3 Fixtures
    //-     +each fixtures
    //-       div
    //-         span
    //-           h4 {{ momentify startsAt }}: {{ fixturesEventCount }} Events
    //-       +each fixturesEvents
    //-         div {{momentify startsAt}} #{away} @ #{home}
    //-   div(class='col-xs-8')
    //-     h3 Events

