template(name='entryView')
  div(class='col-xs-24')
    div(class='row')
      each roster
        div(class='col-xs-2')
          img(src="{{playerImageESPN espn_id = espn_id espn_size = 'micro'}}")
          div #{ last_name }, #{ first_name }
          div #{ score }
          each relevantStats
            div #{ value } #{ type }

template(name='entryViewNames')
    each roster
      div #{last_name}
   