template(name="contestResultsItem")
  div(class='row contestResultItem size-12')
    div(class='col-xs-7 vAlign contestDetailsModal' data-toggle='modal' data-target='#contestDetailsModal-#{_id}' data-name='#{contestName}') #{contestName}
    div(class='col-xs-2 vAlign contestDetailsModal' data-toggle='modal' data-target='#contestDetailsModal-#{_id}' data-name='#{contestName}') #{entries}
    div(class='col-xs-2 vAlign contestDetailsModal' data-toggle='modal' data-target='#contestDetailsModal-#{_id}' data-name='#{contestName}') #{entrySize}
    div(class='col-xs-2 vAlign contestDetailsModal' data-toggle='modal' data-target='#contestDetailsModal-#{_id}' data-name='#{contestName}') $#{entryFee}
    div(class='col-xs-2 vAlign contestDetailsModal' data-toggle='modal' data-target='#contestDetailsModal-#{_id}' data-name='#{contestName}') $#{prizes}
    div(class='col-xs-3 vAlign contestDetailsModal' data-toggle='modal' data-target='#contestDetailsModal-#{_id}' data-name='#{contestName}') {{momentify startsAt}}
    +if guaranteedPrizes
      div(class='col-xs-1 contestIcons vAlign')
        span(class='contestGuaranteedPayIcon') G
    +else
      div(class='col-xs-1')
    +if multipleEntries
      div(class='col-xs-1 contestIcons vAlign')
        span(class='contestMultiEntryIcon') M
    +else
      div(class='col-xs-1')
    div(class='col-xs-2 col-xs-push-2 vAlign')
      a(class='btn btn-default btn-sm contestEnterButton' href='contest/1234/draftteam') ENTER
